version: 2.1

jobs:
  build:
    working_directory: ~/my-app
    docker:
      - image: circleci/ruby:2.5.1-stretch-node
        environment:
          RAILS_ENV: test
          MYSQL_HOST: 127.0.0.1

      - image: mysql:5.6
        environment:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: money_book_test
    

    steps:
      - checkout
      - restore_cache:
        keys:
          - v1-dependencies-{{ checksum "Gemfile.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
        name: install dependencies
        command: |
          bundle install --jobs=4 --retry=3 --path vendor/bundle
      - save_cache:
        paths:
          - ./vendor/bundle
        key: v1-dependencies-{{ checksum "Gemfile.lock" }}

      # データベースのセットアップ
      - run:
          name: Wait for DB
          command: dockerize -wait tcp://127.0.0.1:3306 -timeout 120s
      - run: bundle exec rake db:create
      - run: bundle exec rake db:schema:load

      # テスト
      - run:
          name: Rspec
          command: bundle exec rspec

      # デプロイ
      - deploy:
          name: Capistrano deploy
          command: |
            if [ "${CIRCLE_BRANCH}" != "master" ]; then
              exit 0
            fi
            bundle exec cap production deploy

      # collect reports
      - store_test_results:
        path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results