version: 2.1
orbs:
  ruby: circleci/ruby@0.1.2 

jobs:
  build:
    docker:
      - image: circleci/ruby:2.5.1-node-browsers
        environment:
          RAILS_ENV: test
          MYSQL_HOST: 127.0.0.1

      - image: mysql:5.6.47
        environment:
          MYSQL_DATABASE: money_book_test
          MYSQL_ROOT_PASSWORD: password

    working_directory: ~/money_book

    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle

      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}

      - run:
          name: Wait for DB
          command: dockerize -wait tcp://127.0.0.1:3306 -timeout 120s


      - run: bundle exec rake db:create
      - run: bundle exec rake db:schema:load

      - run:
        name: Rspec
        command: bundle exec rspec


      - add_ssh_keys:
          fingerprints:
            - "1d:f2:af:ac:ee:c6:61:cf:51:04:7e:9c:0c:8b:89:a0"

      - deploy:
          name: Capistrano deploy
          command: |
            if [ "${CIRCLE_BRANCH}" != "master" ]; then
              exit 0
            fi
            bundle exec cap production deploy