.warapper
  = render "shared/header"
  .contents
    .contents__left
      .contents__left__income
        .contents__left__income__title
          今月の収入
        .contents__left__income__price
          5000円
      .contents__left__expense
        .contents__left__expense__title
          今月の支出
        .contents__left__expense__price
          2000円
      .contents__left__balance
        .contents__left__balance__title
          今月の収支
        .contents__left__balance__price
          3000円

