.warapper
  = render "shared/header"
  %ul.tab-group
    %li.tab.is-active 収入
    %li.tab 支出
  .panel-group
    .panel.is-show
      = render "shared/register"
    .panel
      = render "shared/register"