* {
  box-sizing: border-box;
}
.warapper {
  height: 100%;
  width: 100%;
  font-family: 'Helvetica Neue','Helvetica','Arial';
  .header{
    height: 130px;
    width: 100%;
    background-color:white;
    color: #0d5dd2;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1), 0 2px 3px rgba(0,0,0,0.1);
    &__top {
      a{
        text-decoration: none ;
        line-height: 32px;
        margin-right: 10px;
        color: #0d5dd2;
      }
      &__contents {
        text-decoration: none;
        text-align: right;
      }
    }
    &__title {
      text-align: center;
      font-size: 30px;
      margin-top: 10px;
      font-weight: bold;
    }
    &__bottom {
      width: 100%;
      text-align: center;
      margin-top: 20px;
      a{
        text-decoration: none ;
        color: #0d5dd2;
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }
  .contents {
    width: 100%;
    display: flex;
    &__left {
      width: 30%;
      margin-left: 100px;
      margin-top: 50px;
      &__income {
        display: flex;
        &__title {
          border: solid 2px #ddd;
          padding: 10px;
          background-color: #eee;
          padding-right: 50px;
        }
        &__price {
          border: solid 2px #ddd;
          border-left:none;
          padding: 10px;
          padding-left: 100px;
          text-align: right;
          width: 200px;
        }
      }
      &__expense {
        display: flex;
        &__title {
          border: solid 2px #ddd;
          padding: 10px;
          background-color: #eee;
          border-top: none;
          padding-right: 50px;
        }
        &__price {
          border: solid 2px #ddd;
          border-left:none;
          padding: 10px;
          padding-left: 100px;
          text-align: right;
          border-top: none;
          width: 200px;

        }
      }
      &__balance {
        display: flex;
        &__title {
          border: solid 2px #ddd;
          padding: 10px;
          background-color: #eee;
          border-top: none;
          padding-right: 50px;
        }
        &__price {
          border: solid 2px #ddd;
          border-left:none;
          padding: 10px;
          padding-left: 100px;
          text-align: right;
          border-top: none;
          width: 200px;

        }
      }
    }
    &__right {
    }
  }
  .contents__recent {
    margin-top: 20px;
    margin-right: 200px;
    margin-left: 200px;
    &__detail {
      table {
        width: 100%;
        font-size: 15px;
      }
      table th {
        border: solid 2px #ddd;
        background-color: #eee;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      table td {
        padding: 3px 10px;
        text-align: center;
        border: solid 2px #ddd;
        line-height: 50px;
      }
    }
  }
}