.search {
  
}
.list {
  &__title {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
  }
  &__contents {
    &__date {
      display: flex;
      justify-content: space-between;
      &__select {

      }
      &__category {

      }
      &__price {

      }
      &__memo {

      }
      &__image {
        
      }
      &__edit {

      }
      &__destroy {}
    }

  }
  .pagination {
    text-align: center;
  }

}