.detail {
  display: flex;
  .left-content {
    width: 25%;
    margin: 10px;
    .search {
      width: 100%;
      padding-bottom: 6px;
      border: solid 2px #ddd;
      &__title {
        text-align: center;
      }
      &__field {
        width: 98%;
        margin: 0 auto;
        background-color: #eee;
        text-align: left;
        padding-top: 5px;
        padding-left: 10px;
        &__date {
          padding-top: 5px;
          &__label {
            padding-right: 10px;
          }
          &__detail {
            width: 35%;
            text-align: center;
            border-radius: 6px;
            border: none;
            font-size: 15px;

          }
        }
        &__select {
          padding-top: 5px;
          &__label {
            padding-right: 10px;
          }
        }
        &__category {
          padding-top: 5px;
          &__label {
            padding-right: 10px;
          }
          #q_category_id_eq {
            width: 35%;
            background-color: white;
            text-indent: 5%;
            border-radius: 6px;
            border: none;
            font-size: 15px;
          }
        }
        &__price {
          padding-top: 5px;
          &__label {
            padding-right: 10px;
          }
          #q_price_gteq {
            text-align: center;
            width: 35%;
            border-radius: 6px;
            border: none;
            font-size: 15px;
            line-height: 20px;
          }
          #q_price_lteq {
            text-align: center;
            width: 35%;
            border-radius: 6px;
            border: none;
            font-size: 15px;
            line-height: 20px;
          }
        }
        &__memo {
          padding-top: 5px;
          &__label {
            padding-right: 10px;
          }
          #q_memo_cont {
            width: 76%;
            border-radius: 6px;
            border: none;
            font-size: 15px;
            line-height: 20px;
          }
        }
        &__submit {
          padding-top: 5px;
          text-align: center;
          &__detail {
            background-color: #0d5dd2;
            color: white;
            width: 30%;
            border-radius: 6px;
            margin-bottom: 5px;
            cursor: pointer;
            
          }
        }
      }
    }
  }
  .list {
    width: 75%;
    &__title {
      margin-right: 10px;
      margin-top: 10px;
      table {
        width: 100%;
        font-size: 15px;
      }
      table th {
        border: solid 2px #ddd;
        background-color: #eee;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      table td {
        padding: 3px 10px;
        text-align: center;
        border: solid 2px #ddd;
        line-height: 50px;
      }
      .btn {
        color: gray;
      }
      .bookmark-on {
        color: #E2750F;
      }
      .bookmark-off {
        color: gray;
      }
    }
    nav{
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }
    a{
      text-decoration:none;
      color:gray;
      transition:.3s;
    }
    span{
      margin-right: 5px;
      margin-left: 5px;
      text-decoration:none;
      color:gray;
      transition:.3s;
    }
    a:hover{
      background:skyblue;
      color: white;
      border-radius:50%;
    }
    span:hover{
      background:skyblue;
      color: white;
      border-radius:50%;
    }
    .current{
      background:skyblue;
      color: white;
      border-radius:100%;
    }
  }

  .answer {
    width: 25%;
    margin: 10px;
    .query {
      width: 100%;
      padding-bottom: 6px;
      border: solid 2px #ddd;
      &__title {
        text-align: center;
      }
      &__field {
        width: 98%;
        margin: 0 auto;
        background-color: #eee;
        text-align: left;
        padding-top: 5px;
        padding-left: 100px;
        &__date {
          &__start {
            display: flex;
            padding-top: 5px;
            margin-left: 15px;
            &__label {
              padding-right: 5px;
            }
          }
          &__end {
            display: flex;
            padding-top: 5px;
            margin-left: 15px;
            &__label {
              padding-right: 5px;
            }
          }
        }
        &__select {
          padding-top: 5px;
          margin-left: 31px;
          &__label {
            padding-right: 5px;
          }
        }
        &__category {
          padding-top: 5px;
          margin-left: 31px;
          &__label {
            padding-right: 5px;
          }
        }
        &__price {
          &__start {
            display: flex;
            padding-top: 5px;
            &__label {
              padding-right: 5px;
            }
          }
          &__end {
            display: flex;
            padding-top: 5px;
            &__label {
              padding-right: 5px;
            }
          }
        }
        &__memo {
          padding-top: 5px;
          margin-left: 31px;
          &__label {
            padding-right: 5px;
          }
        }
      }
    }
  }
}