.tab-group {
  display: flex;
  justify-content: center;
  .tab.is-active {
    background: red;
    color: #FFF;
  }
  .tab {
    width: 300px;
    padding: 5px;
    list-style: none;
    border: solid 1px #CCC;
    text-align: center;
    cursor: pointer;
  }
}
.panel-group {
  height: 100px;
  border-top: none;
  .panel {
    display: none;
  }
  .panel.is-show {
    display: block;
  }
}

.conteiner {
  .input-box {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    .date {
      display: flex;
      margin-top: 10px;
      .title {
        border: 1px solid gray;
        padding: 10px;
        background-color: lightgray;
        padding-left: 50px;
        padding-right: 50px;

      }
      &__detail {
        text-align: center;
        border: 1px solid gray;
        border-left: none;
        width: 300px;
        color: gray;
      }
    }
    .category {
      display: flex;
      margin-top: 10px;
      .title {
        border: 1px solid gray;
        padding: 10px;
        background-color: lightgray;
        padding-left: 50px;
        padding-right: 50px;
      }
      &__detail {
        text-align: center;
        border: 1px solid gray;
        border-left: none;
        width: 300px;
      }
    }

    .price {
      display: flex;
      margin-top: 10px;
      .title {
        border: 1px solid gray;
        padding: 10px;
        background-color: lightgray;
        padding-left: 50px;
        padding-right: 50px;
      }
      &__detail {
        text-align: center;
        border: 1px solid gray;
        border-left: none;
        width: 300px;
      }
    }
    .memo {
      display: flex;
      margin-top: 10px;
      .title {
        border: 1px solid gray;
        padding: 10px;
        background-color: lightgray;
        padding-left: 50px;
        padding-right: 50px;
      }
      &__detail {
        text-align: center;
        border: 1px solid gray;
        border-left: none;
        width: 300px;
      }
    }
    .image {
      display: flex;
      margin-top: 10px;
      .title {
        border: 1px solid gray;
        padding: 10px;
        background-color: lightgray;
        padding-left: 50px;
        padding-right: 50px;
      }
      &__label {
        border: 1px solid gray;
        border-left: none;
        width: 300px;
        line-height: 40px;
        color: gray;
      }
      &__file {
        display: none;
      }
    }

    .register {
      margin-top: 20px;
      background:rgb(250, 250, 110);
      border: 1px solid gray;
      width: 100%;
      &__button {
        background:rgb(250, 250, 110);
        border: 1px solid rgb(250, 250, 110);
        width: 100%;
        line-height: 40px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}