.conteiner {
  .select {
    display: flex;
    justify-content: center;
    .expense {
      border: 1px solid gray;
      padding: 10px;
      padding-left: 80px;
      padding-right: 80px;
      margin-top: 20px;
      margin-right: 15px;
      background-color: lightskyblue;
    }
    .income {
      border: 1px solid gray;
      padding: 10px;
      padding-left: 80px;
      padding-right: 80px;
      margin-top: 20px;
      margin-left: 15px;
      background-color: lightsalmon;
    }
  }
  .input-box {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    .date {
      display: flex;
      margin-top: 10px;
      .title {
        border: 1px solid gray;
        padding: 10px;
        background-color: lightgray;
        padding-left: 50px;
        padding-right: 50px;

      }
      &__detail {
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
        border: 1px solid gray;
        border-left:none;
      }
    }
    .category {
      display: flex;
      margin-top: 10px;
      .title {
        border: 1px solid gray;
        padding: 10px;
        background-color: lightgray;
        padding-left: 50px;
        padding-right: 50px;
      }
      &__detail {
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
        border: 1px solid gray;
        border-left:none;
      }
    }

    .price {
      display: flex;
      margin-top: 10px;
      .title {
        border: 1px solid gray;
        padding: 10px;
        background-color: lightgray;
        padding-left: 50px;
        padding-right: 50px;
      }
      &__detail {
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
        border: 1px solid gray;
        border-left:none;
      }
    }
    .memo {
      display: flex;
      margin-top: 10px;
      .title {
        border: 1px solid gray;
        padding: 10px;
        background-color: lightgray;
        padding-left: 50px;
        padding-right: 50px;
      }
      &__detail {
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
        border: 1px solid gray;
        border-left:none;
      }
    }
    .register {
      margin-top: 20px;
      background:rgb(250, 250, 110);
      border: 1px solid gray;
      width: 100%;
      &__button {
        background:rgb(250, 250, 110);
        border: 1px solid rgb(250, 250, 110);
        width: 100%;
        line-height: 40px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}