.account-page {
  .account-page__inner {
    width: 980px;
    margin: 60px auto;
    padding: 60px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;

    .account-page__inner--left, .account-page__inner--right {
      float: left;
      width: 50%;
    }
    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }

  .account-page__header {
    h2 {
      margin-bottom: 10px;
      letter-spacing: 3px;
      font-size: 40px;
      font-weight: 200;

      &:after {
        content: '';
        display: block;
        width: 60px;
        margin-top: 5px;
        border-bottom: 1px solid #38aef0;
      }
    }

    h5 {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 200;
    }

    .btn {
      margin-top: 20px;
      color: #fff;
      background-color: #ccc;
      font-size: 14px;
    }
  }

  .field {
    margin-bottom: 10px;

    .field-label {
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 200;

      i {
        font-size: 11px;
      }
    }

    .field-input {
      input {
        width: 100%;
        padding: 10px;
        letter-spacing: 1px;
      }
    }
  }

  .btn {
    display: inline-block;
    height: 50px;
    padding: 0 30px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 2px;
  }

  input[type='submit'] {
    float: left;
    margin-top: 20px;
    color: #fff;
    background-color: #38aef0;
  }

  .field-label {
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }

  .field-input {
    .field_with_errors {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}

.bookmarks {
  display: flex;
  justify-content: center;
  .list {
    width: 75%;
    &__title {
      margin-right: 10px;
      margin-top: 10px;
      table {
        width: 100%;
        font-size: 15px;
      }
      table th {
        border: solid 3px #ddd;
        background-color: #eee;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      table td {
        padding: 3px 10px;
        text-align: center;
        border: solid 3px #ddd;
        line-height: 50px;
      }
      .btn {
        color: gray;
      }
      .bookmark-on {
        color: #E2750F;
      }
      .bookmark-off {
        color: gray;
      }
    }
    nav{
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }
    a{
      text-decoration:none;
      color:gray;
      transition:.3s;
    }
    span{
      margin-right: 5px;
      margin-left: 5px;
      text-decoration:none;
      color:gray;
      transition:.3s;
    }
    a:hover{
      background:skyblue;
      color: white;
      border-radius:50%;
    }
    span:hover{
      background:skyblue;
      color: white;
      border-radius:50%;
    }
    .current{
      background:skyblue;
      color: white;
      border-radius:100%;
    }
  }

  .answer {
    width: 25%;
    margin: 10px;
    .query {
      width: 100%;
      padding-bottom: 6px;
      border: solid 3px #ddd;
      &__title {
        text-align: center;
      }
      &__field {
        width: 98%;
        margin: 0 auto;
        background-color: #eee;
        text-align: left;
        padding-top: 5px;
        padding-left: 100px;
        &__date {
          &__start {
            display: flex;
            padding-top: 5px;
            margin-left: 15px;
            &__label {
              padding-right: 5px;
            }
          }
          &__end {
            display: flex;
            padding-top: 5px;
            margin-left: 15px;
            &__label {
              padding-right: 5px;
            }
          }
        }
        &__select {
          padding-top: 5px;
          margin-left: 31px;
          &__label {
            padding-right: 5px;
          }
        }
        &__category {
          padding-top: 5px;
          margin-left: 31px;
          &__label {
            padding-right: 5px;
          }
        }
        &__price {
          &__start {
            display: flex;
            padding-top: 5px;
            &__label {
              padding-right: 5px;
            }
          }
          &__end {
            display: flex;
            padding-top: 5px;
            &__label {
              padding-right: 5px;
            }
          }
        }
        &__memo {
          padding-top: 5px;
          margin-left: 31px;
          &__label {
            padding-right: 5px;
          }
        }
      }
    }
  }
}