.user-header{
  height: 130px;
  width: 100%;
  color: #0d5dd2;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1), 0 2px 3px rgba(0,0,0,0.1);
  font-family: 'Helvetica Neue','Helvetica','Arial';
  &__title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 130px;
  }
}
.account-page {
  width: 100%;
  .account-page-guest {
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
    a {
      text-decoration: none;
      background-color: darkorange;
      padding: 10px 20px;
      color: white;
      border-radius: 6px;
    }
  }
  .account-page__inner {
    width: 980px;
    margin: 30px auto;
    padding: 60px 80px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;

    .account-page__inner--left, .account-page__inner--right {
      width: 50%;
    }
    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }

  .account-page__header {
    h2 {
      margin-bottom: 10px;
      letter-spacing: 3px;
      font-size: 25px;
      &:after {
        content: '';
        display: block;
        width: 225px;
        border-bottom: 2px solid darkorange;
      }
    }

    h5 {
      margin-bottom: 25px;
      font-size: 14px;
    }

    .btn {
      color: #fff;
      background-color: #bbb;
      padding: 10px;
      text-decoration: none;
      font-size: 16px;
      border-radius: 6px;
    }
    a {
      width: 200px;
    }
  }

  .field {
    margin-bottom: 10px;
    .field-label {
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 14px;
      i {
        font-size: 11px;
      }
    }

    .field-input {
      input {
        width: 100%;
        padding: 10px;
        letter-spacing: 1px;
      }
    }
  }

  .actions {
    text-align: center;
    .btn {
      display: inline-block;
      height: 50px;
      padding: 0 30px;
      line-height: 50px;
      letter-spacing: 1px;
      text-align: center;
      border: none;
      border-radius: 6px;
    }
    input[type='submit'] {
      margin-top: 20px;
      color: #fff;
      background-color: #0d5dd2;
      width: 100%;
    }
  }


  .field-label {
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }

  .field-input {
    .field_with_errors {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}

.bookmarks {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .list {
    width: 75%;
    &__title {
      table {
        width: 100%;
        font-size: 15px;
      }
      table th {
        border: solid 3px #ddd;
        background-color: #eee;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      table td {
        text-align: center;
        border: solid 3px #ddd;
        line-height: 50px;
      }
      table td.price {
        text-align: right;
        padding-right: 10px;
      }
      .btn {
        color: gray;
      }
      .bookmark-on {
        color: #E2750F;
      }
      .bookmark-off {
        color: gray;
      }
    }
    nav{
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }
    a{
      text-decoration:none;
      color:gray;
      transition:.3s;
    }
    span{
      margin-right: 5px;
      margin-left: 5px;
      text-decoration:none;
      color:gray;
      transition:.3s;
    }
    a:hover{
      background:lightskyblue;
      color: white;
      border-radius:50%;
    }
    span:hover{
      background:lightskyblue;
      color: white;
      border-radius:50%;
    }
    .current{
      background:lightskyblue;
      color: white;
      border-radius:100%;
    }
  }

  .answer {
    width: 25%;
    margin: 10px;
    .query {
      width: 100%;
      padding-bottom: 6px;
      border: solid 3px #ddd;
      &__title {
        text-align: center;
      }
      &__field {
        width: 98%;
        margin: 0 auto;
        background-color: #eee;
        text-align: left;
        padding-top: 5px;
        padding-left: 100px;
        &__date {
          &__start {
            display: flex;
            padding-top: 5px;
            margin-left: 15px;
            &__label {
              padding-right: 5px;
            }
          }
          &__end {
            display: flex;
            padding-top: 5px;
            margin-left: 15px;
            &__label {
              padding-right: 5px;
            }
          }
        }
        &__select {
          padding-top: 5px;
          margin-left: 31px;
          &__label {
            padding-right: 5px;
          }
        }
        &__category {
          padding-top: 5px;
          margin-left: 31px;
          &__label {
            padding-right: 5px;
          }
        }
        &__price {
          &__start {
            display: flex;
            padding-top: 5px;
            &__label {
              padding-right: 5px;
            }
          }
          &__end {
            display: flex;
            padding-top: 5px;
            &__label {
              padding-right: 5px;
            }
          }
        }
        &__memo {
          padding-top: 5px;
          margin-left: 31px;
          &__label {
            padding-right: 5px;
          }
        }
      }
    }
  }
}