@import "reset";
@import "book";
@import "new";
@import "user";
@import "list";
@import "edit";
// @import "font-awesome-sprockets";
// @import "font-awesome";
// @import "simple_calendar";

.notifications {
  color: white;
  text-align: center;
  background-color: red;
  .alert {
    background-color: red;
  }
}