@import "reset";
@import "book";
@import "new";
@import "user";
@import "list";
@import "edit";

.notifications {
  color: white;
  text-align: center;
  background-color: red;
  .alert {
    background-color: red;
  }
}