* {
  box-sizing: border-box;
}
.warapper {
  height: 100%;
  width: 100%;
  font-family: 'Helvetica Neue','Helvetica','Arial';
  .header{
    height: 130px;
    color: #0d5dd2;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1), 0 2px 3px rgba(0,0,0,0.1);
    &__top {
      a{
        text-decoration: none ;
        line-height: 32px;
        margin-right: 10px;
        margin-left: 10px;
        color: #0d5dd2;
      }
      &__contents {
        text-decoration: none;
        text-align: right;
      }
    }
    &__title {
      text-align: center;
      font-size: 30px;
      margin-top: 10px;
      font-weight: bold;
    }
    &__bottom {
      text-align: center;
      margin-top: 20px;
      a{
        text-decoration: none ;
        color: #0d5dd2;
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }

  .contents {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    &__left {
      width: 40%;
      margin-right: 50px;
      &__title {
        border-bottom: solid 2px darkorange;
        margin-bottom: 10px;
      }
      &__income, &__expense {
        display: flex;
        height: 50px;
        width: 100%;
        &__title {
          border: solid 2px #ddd;
          line-height: 50px;
          background-color: #eee;
          width: 40%;
          text-align: center;
          border-bottom: none;
        }
        &__price {
          border: solid 2px #ddd;
          border-left: none;
          text-align: right;
          width: 60%;
          line-height: 50px;
          padding-right: 10px;
          border-bottom: none;
        }
      }
      &__balance {
        display: flex;
        height: 50px;
        width: 100%;
        &__title {
          border: solid 2px #ddd;
          line-height: 50px;
          background-color: #eee;
          width: 40%;
          text-align: center;
        }
        &__price {
          border: solid 2px #ddd;
          border-left: none;
          text-align: right;
          width: 60%;
          line-height: 50px;
          padding-right: 10px;
        }
      }
    }
    &__right {
      display: flex;
      margin:0 0 0 auto;
      &__expense {
        margin-right: 50px;
      }
      &__income {
      }
      #chart-1 {
      }
      #chart-2 {
      }
      p {
        border-bottom: solid 2px darkorange;
        margin-bottom: 10px;
      }
    }
  }
  .contents__recent {
    margin-top: 20px;
    margin-right: 200px;
    margin-left: 200px;
    &__title {
      border-bottom: solid 2px darkorange;
      margin-bottom: 10px;
    }
    &__detail {
      table {
        width: 100%;
        font-size: 15px;
      }
      table th {
        border: solid 2px #ddd;
        background-color: #eee;
        text-align: center;
        line-height: 25px;
      }
      table td {
        text-align: center;
        border: solid 2px #ddd;
        line-height: 40px;
      }
      table td.price {
        text-align: right;
        padding-right: 10px;
      }
    }
  }
  .calendar {
    margin: 20px 200px 50px;
    &__title {
      border-bottom: solid 2px darkorange;
      margin-bottom: 10px;
    }
    &__price {
      text-align: right;
      padding-right: 5px;
      font-size: 14px;
      &__income {
        color: #0b4eb3;
      }
      &__expense {
        color: #AA4643;
      }
      p {
        display:inline-block
      }
    }
    .simple-calendar {
      .wday-0 {background-color: rgb(252, 202, 184);}
      .wday-6 {background-color: rgb(190, 230, 255);}
      .today {background-color: lightyellow;}
      .prev-month {background-color: rgb(245, 245, 245);}
      .next-month {background-color: rgb(245, 245, 245);}
      .calendar-heading {
        text-align: center;
        a {
          color: gray;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      table {
        table-layout: fixed;
        width: 100%;
        th {
          background-color: #eee;
          border: solid 2px #ddd;
        }
        td  {
          vertical-align: top;
          border: solid 2px #ddd;
          height: 100px;
        }
      }
    }
  }
}