.header
  .header__top
    .header__top__contents
      - if user_signed_in?
        = link_to edit_user_path(current_user) do
          %i.fas.fa-cog


          設定
        =link_to destroy_user_session_path, method: :delete, class: 'btn' do
          %i.fas.fa-sign-out-alt

          ログアウト

      - else
        =link_to "ログイン",new_user_session_path,class: "log-in"
        =link_to "新規登録",new_user_registration_path,class: "sign-up"
  .header__title
    Money Book
  .header__bottom
    =link_to "ホーム",root_path,class: "home"
    =link_to "収支登録",new_book_path,class: "register"
    =link_to "明細一覧",lists_path,class: "statement"
    =link_to "ブックマーク",user_path(current_user)
